<h2>{{title}}</h2>
<login-form></login-form>
    <nav>
      <a routerLink="/goods" routerLinkActive="active">Goods</a>
      <a routerLink="/basket" routerLinkActive="active">Basket</a>
      <a routerLink="/invoice" routerLinkActive="active">Invoices</a>
      <a routerLink="/users" routerLinkActive="active">Users</a>
      <a routerLink="/location" routerLinkActive="active">Locations</a>
      <a routerLink="/manufacture" routerLinkActive="active">Manufactures</a>
      <a routerLink="/pack" routerLinkActive="active">Packages</a>
      <a routerLink="/packing" routerLinkActive="active">Packings</a>
      <a routerLink="/product" routerLinkActive="active">Products</a>
      <a routerLink="/dstatus" routerLinkActive="active">Delivery Statuses</a>
    </nav>
    <router-outlet></router-outlet>
