<h3>Seedshop basket</h3>
<div class="grid grid-pad">

  <table align="center" border="1" cellpadding="5">
    <tr>
      <th>Barcode</th>
      <th>Name</th>
      <th>Weight, g</th>
      <th>Amount</th>
      <th>Price, grn</th>
      <th>Quentity</th>
      <th>Summ</th>
    </tr>
    <tr *ngFor="let basketItem of basketItems">
        <th>{{basketItem.product.barcode}}</th>
        <th>{{basketItem.product.name}}</th>
        <th>{{basketItem.product.weight}}</th>
        <th>{{basketItem.product.amount}}</th>
        <th>{{basketItem.product.price}}</th>
        <th>{{basketItem.count}}</th>
        <th>{{multiply(basketItem.product.price,basketItem.count)}}</th>
    </tr>
    <tr></tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Result</th>
        <th>{{this.countAll().toFixed(2)}}</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th><input type="button" onclick="location.href='checkout';" value="Checkout" /></th>
      <th></th>
    </tr>
    </table>
  </div>
