<h3>Seedshop checkout</h3>
<br><a *ngIf="results.error_message">API version: {{results.apiVer}}</a>
<br><br><a *ngIf="results.error_message">Error: {{results.error_message}}</a>
<div class="grid grid-pad">
  <form class="checkout_form" action="add.html" method="post" name="checkout_form"><!--onsubmit="return validate()"-->
    <ul>
      <li>
        <h2>Fill invoice</h2>
        <span class="required_notification">* Fill Required Field</span>
      </li>
      <li>
        <label for="secname">Surname:</label>
        <input type="text" name="secName" placeholder="Petrov" pattern="[A-Za-zА-Яа-яЁё]{2,}" required="" [(ngModel)]="invoiceTemp.secName">
      </li>
      <li>
        <label for="firstName">Name:</label>
        <input type="text" name="firstName" placeholder="Peter" pattern="[A-Za-zА-Яа-яЁё]{2,}" required="" [(ngModel)]="invoiceTemp.firstName">
      </li>
      <li>
        <label for="thirdName">Third name:</label>
        <input type="text" name="thirdName" placeholder="Petrovich" pattern="[A-Za-zА-Яа-яЁё]{2,}" [(ngModel)]="invoiceTemp.thirdName">
      </li>
      <li>
        <label for="phone">Mobile phone:</label>
        <input type="text" name="phone" placeholder="380631234567" pattern="380\d{9}" required="" [(ngModel)]="invoiceTemp.phone">
        <span class="form_hint">Proper format "380631234567"</span>
      </li>
      <li>
        <label for="country">Country:</label>
        <input type="text" name="country" placeholder="Ukraine" pattern="[A-Za-zА-Яа-яЁё]{2,}" required="" [(ngModel)]="invoiceTemp.country">
      </li>
      <li>
        <label for="region">Region:</label>
        <input type="text" name="region" placeholder="Chernigivska obl." [(ngModel)]="invoiceTemp.region">
      </li>
      <li>
        <label for="area">Area:</label>
        <input type="text" name="area" placeholder="Chernigivskiy rayon" [(ngModel)]="invoiceTemp.area">
      </li>
      <li>
        <label for="city">City:</label>
        <input type="text" name="city" placeholder="Chernigiv" pattern="[A-Za-zА-Яа-яЁё]{2,}" required="" [(ngModel)]="invoiceTemp.city">
      </li>
      <li>
        <label for="deliveryService">Delivery service:</label>
        <select name="delivery" [(ngModel)]="invoiceTemp.delivery">
          <option *ngFor="let dservice of deliveryServices.deliveryServices" value="{{dservice.deliveryId}}">{{dservice.name}}</option>
        </select>
      </li>
      <li>
        <label for="deliveryOffice">Delivery office:</label>
        <input type="text" name="deliveryOffice" placeholder="3" pattern="[0-9]{1,}" [(ngModel)]="invoiceTemp.deliveryOffice">
      </li>
      <li>
        <button class="submit" type="submit"
                (click)="sendInvoice();"
        >Send invoice</button>
      </li>
    </ul>
  </form>
</div>
