<h3>Seedshop Product Packs</h3>
<div class="grid grid-pad">

  <table align="center" border="1" cellpadding="5">
    <tr>
      <th>PackId</th>
      <th>Name</th>
      <th>Used</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let pack of packList.packs">
      <th>{{pack.packId}}</th>
      <th>{{pack.name}}</th>
      <th>{{pack.used}}</th>
      <th><button (click)="delete(pack.packId)">Delete</button></th>
      <th><button (click)="restore(pack.packId)">Restore</button></th>
    </tr>
    <tr>
      <th><input [(ngModel)]="packNew.packId" placeholder="packId" /></th>
      <th><input [(ngModel)]="packNew.name" placeholder="name" /></th>
      <th>
        <select [(ngModel)]="packNew.used">
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </th>
      <th><button (click)="add()">Add / Save</button></th>
      <th></th>
    </tr>
    <tr>
      <th></th>
      <th><button (click)="reload()">Reload packs</button></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </table>
  </div>
<br><a *ngIf="results.error_message">{{results.error_message}}. </a>
<br><a *ngIf="results.apiVer">API version: {{results.apiVer}}</a>

