<h3>Seedshop products</h3>
<br><a *ngIf="results.apiVer">API version: {{results.apiVer}}   </a>
<a *ngIf="results.error_message">Error: {{results.error_message}}</a>
<div class="grid grid-pad">
  <a *ngFor="let product of results.products"  class="col-1-4">
    <div>
      <h4>Barcode: {{product.barcode}} </h4>
      <h4>Name: {{product.name}} </h4>
      <h4>Weight,g/amount: {{product.weight}}/{{product.amount}}</h4>
      <h4>Manufacture: {{product.manufact}} </h4>
      <h4>Pack: {{product.pack}} </h4>
      <h4>Price,grn: {{product.price}}</h4>
      <h4><button (click)="add(product);">Add to basket 1 pcs.</button></h4>
    </div>
  </a>
</div>

