<h3>Seedshop users</h3>
<br><a *ngIf="results.error_message">{{results.error_message}}</a>
<br><a *ngIf="results.apiVer">API version: {{results.apiVer}}
<br>
<div>
  <table align="center" border="1" cellpadding="5">
    <tr>
      <th>UserId</th>
      <th>Login</th>
      <th>Role</th>
      <th>FirstName</th>
      <th>SecName</th>
      <th>ThirdName</th>
      <th>GenderId</th>
      <th>Email</th>
      <th>Phones</th>
      <th>Discount</th>
      <th>Birthday</th>
      <th>Country</th>
      <th>Region</th>
      <th>Area</th>
      <th>City</th>
      <th>Temp</th>
      <th>Used</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let user of results.users">
      <th>{{user.userId}}</th>
      <th>{{user.login}}</th>
      <th>{{user.role}}</th>
      <th>{{user.firstName}}</th>
      <th>{{user.secName}}</th>
      <th>{{user.thirdName}}</th>
      <th>{{user.genderId}}</th>
      <th>{{user.email}}</th>
      <th>{{user.phones}}</th>
      <th>{{user.discount}}</th>
      <th>{{user.birthday}}</th>
      <th>{{user.country}}</th>
      <th>{{user.region}}</th>
      <th>{{user.area}}</th>
      <th>{{user.city}}</th>
      <th>{{user.temp}}</th>
      <th>{{user.used}}</th>
      <th><button (click)="gotoEdit(user.userId)">Edit</button></th>
    </tr>
    <tr>
    </tr>
  </table>
</div>
</a>
