<h2>Seedshop users</h2>
<div>
  <label>User login:</label> <input #userName />
  <label>User e-mail:</label> <input #userEmail />
  <button (click)="add(userName.value, userEmail.value); userName.value=''; userEmail.value=''">
    Add
  </button>
</div>
<ul class="users">
  <li *ngFor="let user of users" (click)="onSelect(user)"
      [class.selected]="user === selectedUser">
    <span>{{user.user_id}}</span>
    <span>{{user.login}}</span>
    <span>{{user.firstName}} {{user.lastName}}</span>
    <button class="delete"
      (click)="delete(user); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedUser">
  <h2>
    {{selectedUser.firstName | uppercase}} {{selectedUser.lastName | uppercase}} is current user
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
